html, body {
	margin:0; padding:0;
	height:100%;
}
 
body {
	background:url('page_bg.jpg') 50% 50% no-repeat #FC3;
	font-family:Georgia, Times, serifs;
    background-image: url('smoky-rubies-bg.jpg');
    background-color: #cccccc;
    #background-size: 1823px 869px
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
 
#floater {
	position:relative; float:left;
	height:50%;	margin-bottom:-100px;
	width:1px;
}
 
#centered {
	position:relative; clear:left;
	height:200px; width:80%; min-width:400px;
	margin:0 auto;
	border:0px solid #666;
}

#left{float:left;height:100%;width:200px;border:solid;}
#right{float:right;height:100%;width:200px;border:solid;}
#center{margin:0 auto;height:100%;width:200px;border:solid;}