

body {
    background-image: url('smoky-rubies-bg.jpg');
    background-color: #cccccc;
    #background-size: 1823px 869px
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

h1 {
    color: orange;
    text-align: center;
}

p {
    font-family: Sans-Serif;
    font-size: 20px;
}

img.splash {
    float: left;
    border-style: solid;
    border-color: #9f9d9e;
    border-width: 1px;
    background-color: #b0e0e6;
    margin: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

div {
    background-color: #9f9d9e;
    border-width: 1px;
	width: 1400px;
	height: 600px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#container{width:100%;}
#left{float:left;width:100px;}
#right{float:right;width:100px;}
#center{margin:0 auto;width:100px;}


