html, body {
	margin: 0; 
	padding: 0;
	height: 100%;
}
 
body {
    font-family: Sans-Serif;
    background: #cbc8c3 url('smoky-rubies-bg.jpg') no-repeat center;
    #background-attachment: fixed;
    #background-position: center;
    #background-size: 1823px 869px;
    #background-repeat: no-repeat;
}
 
#floater {
	position: relative; 
	float: left;
	height: 50%;	
	margin-bottom: -150px;
}
 
#centered {
	position: relative; 
	clear: left;
	height: 300px; 
	width: 80%; 
	min-width: 400px;
	margin: 0 auto;
}

#left{
	float: left;
	height: 100%;
	width: 300px;
	height: 300px;
	border: 1px solid #9f9d9e;
}

#right{
	float: right;
	height: 100%;
	width: 300px;
	height: 300px;
	border: 1px solid #9f9d9e;
}

#center{
	margin: 0 auto;
	height: 100%;
	width: 300px;
	height: 300px;
	border: 1px solid #9f9d9e;
}

img.opacity {
	opacity: 0.75;
	filter: alpha(opacity=75);
	}	
	
img.opacity:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	}
	
.center{
margin: auto;
width: 800px;
text-align: center;
}

a:link {
	font-weight:900;
	color:#444444;
	text-decoration: none;
}

a:visited {
	color:#444444;
	text-decoration: none;
}

a:hover {
	color:#dddddd;
	text-decoration: none;
}

a:active {
	color:#dddddd;
	text-decoration: none;
}